.jumbotron {
    padding-top: 6rem;
    background-color: #000000
}

#project {
    background-color: #000000
}

#about, #contact {
    background-color: #888888
}

section {
    padding-top: 5rem;
}

.backblack {
    background-color: #000000
}